@model NorbitsChallenge.Models.Car

<h2>Car Details</h2>
<p>
    <strong>LicensePlate:</strong> @Model.LicensePlate <br />
    <strong>Description:</strong> @Model.Description <br />
    <strong>Model:</strong> @Model.Model <br />
    <strong>Brand:</strong> @Model.Brand <br />
    <strong>TireCount:</strong> @Model.TireCount <br />
    <strong>CompanyId:</strong> @Model.CompanyId
</p>
